__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.DS_Store
*.swp
*.swo
*~
# Исключаем только содержимое tracks (обложки и данные), структура будет создана
tracks/covers/*
tracks/*.json
tracks/*.yaml
